.nav {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.nav li {
  list-style: none;
}
.nav a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  color: inherit;
}

.nav a:after {
  display: block;
  content: "";
  border-bottom: solid 2px currentColor;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.nav a:is(:hover, :active)::after {
  transform: scaleX(1);
}

.nav a:is(:hover, .active) {
  color: #27ae60;
}

@font-face {
  font-family: "SofiaPro-Light";
  src: url("../fonts/sofiapro-light.otf") format("opentype");
}
